<h1>IT Projekt: Self Assessment Tool für Social Media Analytics</h1>
<h3>Lukas Wißmeyer und Marius Oechslein</h3>
<br>
<p>Mit diesem Social Media Analytics - Self Assessment Tool möchten wir eine Einschätzung zu Wissen und zur Umsetzung
  von Social Media Analytics im eigenen Unternehmen ermöglichen.</p>
<p>Bitte beantworten Sie die folgenden Fragen dafür ehrlich und nach bestem Gewissen!</p>
<br>
<p>Es gibt folgende Fragetypen, die Sie an den Icons erkennen:</p>
<ul style="list-style-type: none">
  <li>Single Choice</li>
  <li>Multiple Choice</li>
  <li>Unterfragen</li>
</ul>
<br>
<br>
<ion-button routerLink="/questions">Start</ion-button>
