<h1>IT Projekt: Self Assessment Tool für Social Media Analytics</h1>
<br>
<p><b>Mit diesem Social Media Analytics - Self Assessment Tool möchten wir eine Einschätzung zu Wissen und zur Umsetzung
  von Social Media Analytics im eigenen Unternehmen ermöglichen.</b></p>
<p>Bitte beantworten Sie die folgenden Fragen dafür ehrlich und nach bestem Gewissen!</p>
<p>Im Anschluss gibt es eine <b>Auswertung</b> mit <b>Einteilung in Reifegrade</b>. Außerdem bekommen Sie <b>personalisierte Vorschläge</b>, wie sie Ihr <b>Social Media Analytics Wissen verbessern</b> können.</p>
<br>
<p>Es gibt folgende Fragetypen, die Sie an den Icons erkennen:</p>
<ul>
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Multiple Choice</ion-label>
  </ion-item>
  <ion-item>
    <ion-radio slot="start">Single Choice</ion-radio>
    <ion-label>Single Choice</ion-label>
  </ion-item>
</ul>

<br>
<p>Der Fragebogen ist in die 3 Gruppen: <b>Prozesse</b>, <b>Technologie</b> und <b>Organisation</b> gegliedert</p>

<br>
<p>Sie können aus zwei Fragenbögen wählen:</p>
<br>
<ion-button routerLink="/questions-easy">Start Fragebogen Anfänger (~10 Minuten)</ion-button>
<br>
<ion-button routerLink="/questions-hard">Start Fragebogen Fortgeschritten (~15 Minuten)</ion-button>

<br>
<br>
<p>Dieses Self Assessment Tool wurde erstellt von:</p>
<p><b>Lukas Wißmeyer und Marius Oechslein</b></p>
<br>
<p>Herzlichen Dank an alle Experten, die uns wertvolles Feedback zu den Fragen und dem Tool gegeben haben.</p>
<p>Und Danke an Sie, dass sie dieses Tool nutzen.</p>
<p>Bei Fragen oder Feedback, schicken Sie uns gerne eine Email an:</p>
<p>oechsleinma80080@th-nuernberg.de oder wissmeyerlu80194@th-nuernberg.de</p>
