<h2>Fragebogen</h2>

<div *ngFor="let question of this.displayedQuestions">
  <h3>{{question.title}}</h3>
  <p *ngFor="let answer of question.answers; let i = index">
    <ion-item>
      <ion-checkbox type="checkbox" (click)="handleCheckbox($event.target, answer)" slot="start" checked="{{answer.initialChecked}}"></ion-checkbox>
      <ion-label>{{answer.title}}</ion-label>
    </ion-item>
  </p>
</div>

<br>
<div style="display: block">
  <ion-button (click)="getPreviousQuestions()" disabled="{{this.pageNumber == 0}}">Zurück</ion-button>
  <ion-button (click)="getNextQuestions()" *ngIf="!(this.pageNumber+1 > this.questions.length / this.questionsPerPage)">Weiter</ion-button>
  <ion-button routerLink="/results" *ngIf="this.pageNumber+1 > this.questions.length / this.questionsPerPage">Zur Auswertung</ion-button>
</div>
<br>
<br>
<ion-button routerLink="/greetings">Zurück zum Start</ion-button>
