<h2>Fragebogen</h2>

<div *ngFor="let question of this.displayedQuestions; let n = index">
  <div *ngIf="question.showSubquestion == undefined || question.showSubquestion == true"> <!-- also entweder keine Subquestion oder eine Subquestion die angezeigt werden soll -->
    <h1 *ngIf="n == 0 || this.displayedQuestions[n].group != this.displayedQuestions[n-1].group">
      {{question.group}}
    </h1>
    <h3>{{question.title}}</h3>
    <div *ngIf="question.type === 0"> <!-- Multiple Choice -->
      <p *ngFor="let answer of question.answers; let i = index">
        <ion-item>
          <ion-checkbox (click)="handleCheckbox($event.target, answer)" slot="start" checked="{{answer.initialChecked}}"></ion-checkbox>
          <ion-label>{{answer.title}}</ion-label>
        </ion-item>
      </p>
      <div *ngIf="question.textField == true"> <!-- Text Field -->
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Andere: </ion-label>
          <ion-textarea placeholder="Schreiben Sie hier..."></ion-textarea>
        </ion-item>
      </div>
    </div>
    <div *ngIf="question.type === 1"> <!-- Single Choice -->
      <ion-list>
        <ion-radio-group value="{{question.singleChoiceInitialAnswer}}">
          <ion-item *ngFor="let answer of question.answers; let i = index">
            <ion-label>{{answer.title}}</ion-label>
            <ion-radio slot="start" value="{{i}}" (click)="handleRadio(question, i)"></ion-radio>
          </ion-item>
          <ion-item *ngIf="question.textField == true"> <!-- Text Field -->
            <ion-radio slot="start"></ion-radio>
            <ion-label>Andere: </ion-label>
            <ion-textarea placeholder="Schreiben Sie hier..."></ion-textarea>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  </div>
</div>

<br>
<div style="display: block">
  <ion-button (click)="getPreviousQuestions()" disabled="{{this.pageNumber == 0}}">Zurück</ion-button>
  <ion-button (click)="getNextQuestions()" *ngIf="!(this.pageNumber+1 >= this.questions.length / this.questionsPerPage)">Weiter</ion-button>
  <ion-button routerLink="/results-easy" *ngIf="this.router.url.includes('easy') && this.pageNumber+1 >= this.questions.length / this.questionsPerPage">Zur Auswertung</ion-button>
  <ion-button routerLink="/results-hard" *ngIf="this.router.url.includes('hard') && this.pageNumber+1 >= this.questions.length / this.questionsPerPage">Zur Auswertung</ion-button>
</div>
<br>
<br>
<ion-button routerLink="/greetings">Zurück zum Start</ion-button>
